#mainPane{
    -fx-pref-height:700;
    -fx-pref-width:800;
    -fx-background-image:url("images/fond.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

#split{
	-fx-pref-height:700;
	-fx-pref-width:800;
	-fx-orientation:vertical;
	-fx-background-color: transparent;

}

.split-pane-divider {
   -fx-background-color: transparent;
}


/* PLAYER 1*/
#Player1{
	-fx-pref-height:150.0;
	-fx-pref-width:150.0;
	-fx-background-color: #ffd700;
}

#Player1:hover{
 -fx-opacity:0.75;
}

#name1{
	-fx-text-alignment: center;
}

#life_points1{
	-fx-text-alignment:center;
}

#deck1{
    -fx-pref-height:115.0;
	-fx-pref-width:85.0;
	-fx-background-image:url("images/dosCartes_ocre.png");
	-fx-background-size: 98%;
    -fx-background-position: center center;
}
#deck1:hover{
 -fx-opacity:0.75;
}
#hand1{
    -fx-pref-height:140.0;
	-fx-pref-width:230.0;
	-fx-background: transparent;
	-fx-background-color: transparent;
}

#hand2{
    -fx-pref-height:140.0;
	-fx-pref-width:230.0;
	-fx-background: transparent;
	-fx-background-color: transparent;
}

#discard1{
    -fx-pref-height:115.0;
    -fx-pref-width:85.0;
    -fx-background-color:transparent;
    -fx-background-size: 98%;
    -fx-background-position: center center;
}

#button_play1{
    -fx-pref-height:40.0;
	-fx-pref-width:40.0;
}

#list_creatures1{
    -fx-pref-height:140.0;
	-fx-pref-width:740.0;
	-fx-background: transparent;
	-fx-background-color: transparent;
	/*-fx-opacity:0;*/
}

/*PLAYER 2*/
#Player2{
	-fx-pref-height:150.0;
	-fx-pref-width:150.0;
	-fx-background-color: #afeeee;
}

#Player2:hover{
    -fx-opacity:0.75;
}

#deck2{
    -fx-pref-height:115.0;
	-fx-pref-width:85.0;
	-fx-background-image:url("images/dosCartes_ocre.png");
	-fx-background-size: 98%;
    -fx-background-position: center center;
}
#deck2:hover{
 -fx-opacity:0.75;
}
#discard2{
    -fx-pref-height:115.0;
	-fx-pref-width:85.0;
    -fx-background-color:transparent;
    -fx-background-size: 98%;
    -fx-background-position: center center;
}

#button_play2{
    -fx-pref-height:40.0;
	-fx-pref-width:40.0;
}

#list_creatures2{
    -fx-pref-height:140.0;
	-fx-pref-width:740.0;
	-fx-background: transparent;
	-fx-background-color: transparent;
	/*-fx-opacity: 0;*/
}

#name2{
	-fx-text-alignment:center;
}

#life_points2{
	-fx-text-alignment:center;
}